<div class="name-wrapper">

    <div class="titles">
        <!-- <img src="/assets/images/hmd_circled_800p.png" alt="pp" class="author-img"> -->
        <!-- -------------------------------- TITLE -------------------------------- -->
        <div class="text-content-wrapper">
            <svg stroke="black" stroke-width="2" class="text-line">
                <text x="50%" dominant-baseline="middle" text-anchor="middle" y="50%">Hammad</text>
            </svg>
            <!-- ------------------------------ SUB-TITLE ------------------------------ -->
            <div class="subtitle-wrapper">
                <p class="subtitle">Mobile, Web App Developer</p>
            </div>
        </div>
    </div>
    <br>
    <!-- ------------------------------ INTRO-BOX ------------------------------ -->
    <div class="intro-box">
        <p>Hi,</p>
        <p> You can call me a developer, designer, maker, enigneer etc.., I love creating <span
                style="text-decoration: underline">highly secure</span> digital products of many
            disciplines</p>
    </div>

    <!-- --------------------------- QUOTATION-MARKS --------------------------- -->
    <div class="q1-box q-mark" height="50px" width="50px">
        <svg class="q-1" viewBox="5 13 14 2">
            <path d="M14,17H17L19,13V7H13V13H16M6,17H9L11,13V7H5V13H8L6,17Z"></path>
        </svg>
    </div>

    <div class="q2-box q-mark" height="50px" width="50px">
        <svg class="q-2" viewBox="5 13 14 2">
            <path d="M14,17H17L19,13V7H13V13H16M6,17H9L11,13V7H5V13H8L6,17Z"></path>
        </svg>
    </div>


</div>