.rw-w {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 768px) {
    margin-bottom: 50px;
    justify-content: center;
    text-align: center;

  }

  .rw-c-w {
    display: flex;
    justify-content: space-around;
    gap: 5vw;
    padding: 0 5%;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      row-gap: 50px;
    }

    .recent-img-w {
      flex: 1;
      transition: all 0.1s ease;
      overflow: hidden;
      height: min-content;
      position: relative;

      &:hover {
        scale: 1.025;

        .goto-site {
          transition: all .1s ease !important;
          opacity: 1;

          p {
            transition: all .2s ease !important;
            scale: 1;
            visibility: visible;
          }
        }
      }

      .recent-img {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        width: 100%;
        border-radius: 10px;
      }

      .goto-site {
        opacity: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.836);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;

        a {
          text-decoration: none;
        }

        p {
          scale: 0;
          visibility: hidden;
          color: black;
          background-color: white;
          width: max-content;
          padding: 5px 20px;
          border-radius: 20px;
          transition: all .1s ease;
          font-size: 13px;
        }
      }
    }
  }
}