$avartar-diameter: 32px;
$avartar-diameter-lg: 36px;

$avartar-diameter-mob: 25px;
$avartar-diameter-mob-lg: 30px;

@keyframes expansion-web {
  to {
      padding-top: 5px;
      padding-bottom: 5px;
      height: 40px;
  }
}


@keyframes expansion-mob {
  to {
      padding-top: 5px;
      padding-bottom: 5px;
      height: 30px;
  }
}

.d-card {
    z-index: 100000;
    overflow: hidden;
    border-radius: 0px 0px 10px 10px;
    background-color: var(--social-bg);
    // background-color: transparent;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;
    right: 50%;
    // height: 40px !important;
    // width: 180px !important;
    height: 0;
    width: 180px;

    transform: translate(50%, 0);
    transition: all 0.5s ease;
    animation: expansion-mob 0.5s ease 4.2s forwards;

    @media only screen and (min-width: 768px) {
        width: 230px;
        right: 50%;
        animation: expansion-web 0.5s ease 4.2s forwards;
      }
}

.circle-avatars {
    z-index: 10000000;
    height: $avartar-diameter-mob;
    width: $avartar-diameter-mob;
    @media only screen and (min-width: 768px) {
        height: $avartar-diameter;
        width: $avartar-diameter;
    }
    border-radius: 50%;
    background-color: red;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    box-sizing: border-box;
}
img {
    padding: 0;
}

.circle-avatars:hover {
    height: $avartar-diameter-lg;
    width: $avartar-diameter-lg;
    height: $avartar-diameter-mob-lg;
    width: $avartar-diameter-mob-lg;

    @media only screen and (min-width: 768px) {
        height: $avartar-diameter-lg;
        width: $avartar-diameter-lg;
    }

    transform: translate(0, -2.5px);
}


