<div class="d-card">
    <img (click)="openLink('https://www.linkedin.com/in/hammadahamed/')" src="/assets/svg/linkedin.svg" class="circle-avatars" style="background-color: #0078d4;">
    <img (click)="openLink('mailto: hammadahamed786@gmail.com')" src="/assets/svg/gmail.svg" class="circle-avatars" style="padding: 8px;background-color: white;">
    <img (click)="openLink('https://github.com/hammadahamed')" src="/assets/svg/github.png" class="circle-avatars" style="background-color: white; padding: 6px;">
    <img (click)="openLink('https://www.upwork.com/freelancers/~015b6c83414c827b01')" src="/assets/svg/upwork.svg" class="circle-avatars" style="background-color: #66bb6a;">
    <!-- <img src="/assets/svg/phone.png" class="circle-avatars" style="background-color: #49a0ae; padding: 6px;"> -->
    <!-- <img src="/assets/svg/maps.png" class="circle-avatars" style="background-color: #49a0ae; padding: 0px; object-fit: cover;"> -->
</div>
