.footer {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 200px;
  margin-top: 100px;
  background-color: var(--card-bg-color);

  @media only screen and (max-width: 400px) {
    height: 300px;
  }

  .footer-content-w {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 15%;


    @media only screen and (max-width: 400px) {
      padding: 0 5%;
    }

    @media only screen and (max-width: 550px) {
      padding: 0 10%;
    }

    @media only screen and (max-width: 725px) {
      flex-direction: column;
      justify-content: center;
      row-gap: 40px;
    }
  }

  .copyright {

    h3,
    p {
      margin: 0;
      padding: 0;
      color: var(--footer-social-svg-fill);

      @media only screen and (max-width: 725px) {
        text-align: center;
      }
    }

    h3 {
      font-weight: 300;
      font-size: 30px;
      line-height: 30px;
      font-family: 'Poppins';
    }

    p {
      margin-top: 10px;
      font-size: 13px;
    }

    .cr-symbol {
      svg {
        height: 12px !important;
        width: 12px !important;
        translate: 0px 1px;
        fill: var(--footer-social-svg-fill) !important;
      }
    }
  }

  .footer-socials {
    display: flex;
    column-gap: 20px;

    .socials-svg {
      cursor: pointer;
      height: 45px;
      width: 45px;
      fill: var(--footer-social-svg-fill);

      &:hover {
        scale: 1.1;
        transition: all .2s ease !important;
      }
    }
  }
}