html,
body {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5em;
  box-sizing: border-box;
  font-family: "Lato", verdana, sans-serif;
}

.horizontal.timeline {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 200px;


  &:before {
    content: '';
    display: block;
    position: absolute;

    // width: 100%;
    height: .2em;
    background-color: lighten(#000, 95%);
  }

  .line {
    display: block;
    position: absolute;

    // width: 100%;
    height: .2em;
    background-color: lighten(#000, 95%);
    // background-color: #8897ec;
  }

  .steps {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
    width: 100%;

    // big screen
    @media only screen and (min-width: 768px) {
      gap: 250px;
    }

    .step {
      display: block;
      position: relative;
      bottom: calc(100% + 1em);
      padding: .33em;
      margin: 0 2em;
      box-sizing: content-box;

      color: #8897ec;
      background-color: currentColor;
      border: .25em solid white;
      border-radius: 50%;
      z-index: 500;

      &:first-child {
        color: #71CB35;
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      span {
        position: absolute;
        top: calc(100% + 1em);
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        color: #000;
      }

      &.current {
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          padding: 1em;
          background-color: currentColor;
          border-radius: 50%;
          opacity: 0;
          z-index: -1;

          animation-name: animation-timeline-current;
          animation-duration: 2s;
          animation-iteration-count: infinite;
          animation-timing-function: ease-out;
        }

        span {
          opacity: .8;
        }
      }
    }
  }
}

@keyframes animation-timeline-current {
  from {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }

  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}


//  My classes
.employment-history-wrapper {
  // margin-left: 20px;
  // margin-right: 20px;
  // padding: 50px 100px;
  height: 400px;
  // background-color: green;
  position: relative;
  overflow: scroll;

  .horizontal.timeline {
   .steps, .line {
    translate: -80px 0;

    @media only screen and (min-width: 768px) {
      translate: 0;
    }
   }
  }
}

.info-box {
  height: 280px;
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-chrono-name {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 13px;
  color: #787878;
}

.circular-image {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgb(239, 239, 239);
  transition-duration: 300ms;
  cursor: pointer;
}

.circular-image:hover {
  width: 130px;
  height: 130px;
}

.desg {
  font-size: 15px;
}
