<div class="project-wrapper">
  <!-- ----------------------------- DESCRIPTION ----------------------------- -->
  <div class="project-description">
    <p class="numerics">#{{ index + 1 }}</p>

    <p class="project-name">
      <!-- <span class="index">
                #{{index+1}}
            </span> -->
      {{ project.projectName }}
    </p>
    <div class="labels">
      <div *ngFor="let label of project.labels; let i = index" class="label"
        [ngStyle]="{ 'background-color': labelColor[i] }">
        <p>{{ label }}</p>
      </div>
    </div>

    <p class="description">{{ project.description }}</p>
  </div>

  <!-- ------------------------------- IMAGES -------------------------------- -->
  <div class="project-images {{getPlatformClass(project.platformView)}}-wrap" id="project-image-outer-{{project.id}}" attr.projectid="{{project.id}}">
    <div id="scroll-left" class="scroll-chevron-left-{{project.id}}">
      <div class="chevron-container chevron-container-left-{{project.id}}">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white"
          class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
        </svg>
      </div>
    </div>

    <div id="scroll-right" class="scroll-chevron-right-{{project.id}}">
        <div class="chevron-container chevron-container-right-{{project.id}}">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white"
          class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
        </svg>
      </div>
    </div>


    <div id="project-image-{{project.id}}" class="project-image" *ngFor="let imgSrc of project.imageList; let i = index">
      <div class="image-wrapper">
        <img [ngClass]="getPlatformClass(project.platformView)" (click)="openImagePreview(i)" [src]="imgSrc" alt="" />
      </div>
    </div>
  </div>
</div>
