$web-height-s: 180px;
$mobile-height-s: 300px;

$web-height-l: 250px;
$mobile-height-l: 300px;

.project-wrapper {
  gap: 50px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;

  @media only screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
  }
}

.index {
  // -webkit-text-fill-color: var(--bg-color); /* Will override color (regardless of order) */
  // -webkit-text-stroke-width: .5px;
  // -webkit-text-stroke-color: var(--section-heading-color);
  margin-right: 10px;
}

.project-name {
  font-size: 30px;
  color: var(--section-heading-color);
  //    text-transform: uppercase;
}

.description {
  text-align: start;
  font-weight: 400;
  color: var(--project-description-color);
  line-height: 25px;
}

.project-description {
  width: 100%;

  @media only screen and (min-width: 768px) {
    width: 600px;
  }
}

.labels {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  margin-bottom: 25px;
}

.label {
  border-radius: 10px;
}

.label>p {
  font-size: 11px;
  text-transform: uppercase;
  color: white;
  padding: 2.5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}

.numerics {
  color: var(--section-heading-color);
  opacity: 0.7;
  font-style: italic;
  font-weight: bold;
  font-size: 75px;
  z-index: 1000;
  padding: 0;
  margin: 0;
  transform: translate(0, 20px);

  @media only screen and (min-width: 768px) {
    font-size: 115px;
  }
}

.project-image {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.project-images {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
  gap: 50px;
  scroll-behavior: smooth !important;

  @media only screen and (min-width: 768px) {
    width: 100%;
    gap: 75px;
  }

  @media only screen and (max-width: 768px) {
    padding-left: 10px;
  }
}

.image-wrapper {
  z-index: 1001;
  border-radius: 15px;
  height: fit-content;
  background-color: var(--bg-color);
}

.platform-view-mobile {
  height: $mobile-height-s;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  animation-duration: 0.2s;
  transition-duration: 0.2s;
  cursor: pointer;
}

.platform-view-web {
  height: $web-height-s;

  @media only screen and (min-width: 768px) {
    height: $web-height-l;
  }

  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
  rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  animation-duration: 0.2s;
  transition-duration: 0.2s;
  cursor: pointer;
}

.image-wrapper:hover {
  transform: translate(0px, -10px);
}

.platform-view-mobile:hover {
  transform: translate(0px, -10px);
  opacity: 0.75;
}

.platform-view-web:hover {
  transform: translate(0px, -10px);
  opacity: 0.75;
}

.divider {
  width: 100px;
  height: 5px;
  color: red;
}



#scroll-left,
#scroll-right {
  display: flex;
  align-items: center;
  border-radius: 6px;
  background-color: transparent;

  svg {
    cursor: pointer;
  }
}

svg {
  transition: none 0s;

  path {
    transition: none 0s;
  }
}

.project-images {

  #scroll-left,
  #scroll-right {
    visibility: hidden;

    @media only screen and (min-width: 768px) {
      // visibility: hidden;
    }

    transition: none 0s;
  }
}

#scroll-left.make-visible,
#scroll-right.make-visible {
  visibility: visible !important;
}

// MOBILE
.platform-view-mobile-wrap {
  #scroll-right {
    width: 50px;
    height: $mobile-height-s;
    position: absolute;
    right: -50px;

    @media only screen and (max-width: 768px) {
      margin-right: 0px;
    }

    z-index: 10000;
  }

  #scroll-left {
    width: 50px;
    height: $mobile-height-l;
    position: absolute;
    z-index: 10000;
    margin-left: -80px;

    @media only screen and (max-width: 768px) {
      margin-left: -40px;
    }

  }
}


// WEB
.platform-view-web-wrap {
  #scroll-right {
    width: 50px;
    height: $web-height-s;
    position: absolute;
    right: -20px;
    z-index: 10000;

    @media only screen and (min-width: 768px) {
      height: $web-height-l;
      right: -100;
      // background-color: transparent;
    }

    @media only screen and (max-width: 768px) {
      right: -60px;
    }

    @media only screen and (max-width: 1600px) {
      right: -55px;
    }
  }

  #scroll-left {
    width: 50px;
    height: $web-height-s;
    position: absolute;
    z-index: 10000;
    margin-left: -45px;

    @media only screen and (min-width: 768px) {
      height: $web-height-l;
      margin-left: -90px;
    }


  }

}

.chevron-container {
  height: 60px;
  width: 30px;
  border-radius: 6px;
  background-color: var(--projects-chevron-color);
  transition: none 0s;
  // padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    transition: none 0s;
    height: 25px;
    width: 25px;


    path {
      transition: none 0s;

    }
  }
}