<div class="project-wrapper">
  <!-- ----------------------------- DESCRIPTION ----------------------------- -->
  <div class="project-description">
    <p class="numerics">#{{ index + 1 }}</p>

    <p class="project-name">
      <!-- <span class="index">
                #{{index+1}}
            </span> -->
      {{ project.projectName }}
    </p>
    <div class="labels">
      <div *ngFor="let label of project.labels; let i = index" class="label"
        [ngStyle]="{ 'background-color': labelColor[i] }">
        <p>{{ label }}</p>
      </div>
    </div>

    <p class="description">{{ project.description }}</p>
  </div>

  <!-- ------------------------------- IMAGES -------------------------------- -->
  <div class="project-images">
    <!-- <div class="chevron">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="scroll-indicator-chevron">
        <path fill-rule="evenodd"
          d="M16.28 11.47a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 011.06-1.06l7.5 7.5z"
          clip-rule="evenodd" />
      </svg>
    </div> -->

    <div class="project-image" *ngFor="let imgSrc of project.imageList; let i = index">
      <div class="image-wrapper">
        <img [ngClass]="getPlatformClass(project.platformView)" (click)="openImagePreview(i)" [src]="imgSrc" alt="" />
      </div>
    </div>
  </div>
</div>
