<div id="root-wrapper">
  <app-image-preview></app-image-preview>


  <div style="position: relative">
    <app-social-buttons></app-social-buttons>
    <app-top-bar></app-top-bar>

    <!-- ------------------------------- BODY 1 -------------------------------- -->
    <div class="app-body">
      <div>
        <app-title-banner></app-title-banner>
      </div>
    </div>

    <!-- ------------------------------- BODY 2 -------------------------------- -->
    <div class="app-body" style="height: min-content">
      <!-- <app-services></app-services> -->
      <!-- <app-employment-history></app-employment-history> -->
    </div>

    <!-- Client view -->
    <div class="app-body" style="height: min-content" *ngIf="showServices()">
      <app-services></app-services>
    </div>

    <!-- ------------------------------- BODY 4 -------------------------------- -->
    <div class="app-body" style="height: min-content">
      <app-projects></app-projects>
    </div>

    <!-- ------------------------------- BODY 3 -------------------------------- -->
    <div class="app-body" style="height: min-content">
      <app-skills></app-skills>
    </div>

    <!-- ------------------------------- BODY 4 -------------------------------- -->
    <app-footer></app-footer>

  </div>
</div>