#root-wrapper {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.app-body {
  padding: 0 20%;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
  position: relative;
  transition: all .5s ease-in-out;

  @media only screen and (min-width: 550px) {
    padding: 0 10%;
  }

}